.workbench-element-box,
.workbench-element-switch,
.workbench-element-router,
.workbench-element-switch-active,
.workbench-element-router-active {
  position: absolute;
  width: 80px;
  height: 80px;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: 100% 100%;
  margin-right: 25px;
  z-index: 1;
  box-sizing: border-box;
}

.workbench-element-router{
  background: url("src/assets/images/router.png");
  border-radius: 50%;
}
.workbench-element-switch{
  background: url("src/assets/images/switch.png");
}

.workbench-element-switch-active {
  border-color: darkgreen;
  border-width: thick;
}

.workbench-element-router-active {

  border-color: darkgreen;
  border-width: thick;
}

.workbench-element-box:hover {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.workbench-element-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.6),
  0 8px 10px 1px rgba(0, 0, 0, 0.42),
  0 3px 14px 2px rgba(0, 0, 0, 0.36);
}

.workbench-container {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 15%;
  right: 0;
}

.workbench-boundary {
  width: 100%;
  height: 100%;
  border: lightblue solid 2px;
}

.view-box {
  position: absolute;
  width: 800px;
  height: 800px;
}

.path {
  position: absolute;
  fill: none;
  stroke: dodgerblue;
  stroke-width: 6;
}

.path:hover {
  position: absolute;
  fill: none;
  cursor: pointer;
  stroke: darkblue;
}
