.device-menu-boundary {
  /*height: 80%;*/
  width: 100%;
  /*border: solid #ccc 2px;*/
  position: absolute;
}

.delete-button {
  width: 100%;
  background-color: indianred;
  color: black;
}

.delete-button:hover {
  background-color: crimson;
}

.root-node,
.leaf-node,
.free-port {
  color: black;
  background-color: #eeeeee;
}

.linked-port {
  background-color: darkcyan;
}

.linked-port:hover {
  background-color: cyan;
}

.free-port:hover {
  background-color: gray;
}

.device-menu-entry{
  background-color: #eeeeee;
}
