.port-table {
  position: absolute;
  color: #eeeeee;
  top: 250px;
  left: 350px;
  background-color: #eeeeee;
  z-index: 3;
  border-color: #02075d;
  border-width: thick;
}

.default-port,
.selected-port {
  background-color: #eeeeee;
}

.selected-port {
  background-color: crimson;
}

.default-port:hover {
  background-color: lightblue;
}

.link-button {
  width: 100%;
  color: #02075d;
}
