<div class="palette-boundary">
    <div *ngFor="let item of items"
                   role="listitem"
                   class="palette-element-box"
                   [ngClass]="{
                      'palette-element-switch': isSwitch(item),
                      'palette-element-router': isRouter(item),
                      'palette-element-link': isLink(item)
                   }"
                   (click)="addNewDevice(item)">
    </div>
</div>
