.palette-element-box,
.palette-element-router,
.palette-element-switch,
.palette-element-link {
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  background-size: 100% 100%;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  margin-left: 20px;
  padding: 10px;
}


.palette-element-box:hover {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.palette-element-router {
  @extend .palette-element-box;
  border-radius: 50%;
  background: url("~src/assets/images/router.png");
}

.palette-element-switch {
  background: url("~src/assets/images/switch.png");
}

.palette-element-link {
  background: url("~src/assets/images/link.png");
}

.palette-boundary {
  width: 90px;
}
